nav {
  list-style-type: none;
  position: fixed;
  background-color: #FFD100;
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  height: 100px;
}

li {
  display: inline;
  padding: 30px;
  float: right;
}

a {
  color: #003594;
  text-decoration: none;
  font-size: 30px;
  font-family: helvetica;
}

body {
  margin: 100px
  background-color: #003594;
}
h1 {
  color: #FFD100;
  text-align: center;
}
h3 {
  color: #D7D2CB;
  text-align: center;
}
img {
  size: 600 x 729
}
